# 12.1 Tuples are immutable

In [ ]:
# Dic Key is immutable ==> Hashable
# Dic Value can be mutable, e.g. it can be a list.
# Tuple can be a "coordination", "group" to locate your value.

In [1]:
t1 = 'a'
type(t1)

str

In [2]:
t1 = 'a',
type(t1)

tuple

In [3]:
t = tuple()
print(t)

()

In [4]:
t=()
type(t)

tuple

In [5]:
a=[]
print(a)
type (a)

[]

list

In [6]:
d={}
print(d)
type(d)

{}

dict

In [7]:
t=(1,2,3,5,6)
print(t)

(1, 2, 3, 5, 6)

In [8]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [9]:
c=()
print(c)
type(c)

()

tuple

In [10]:
t=('lupins') # intersting fact tuple vs str
print(t)
type(t)

lupins

str

In [ ]:
t = tuple('lupins') 

print(t)
type(t)

In [12]:
t = ('a', 'b', 'c', 'd', 'e') 
print (t[0])
print(t[1:3])  #==> '1' has to be include, but 3 cannot be inclue. : index 1 and index 2.

a
('b', 'c')

In [ ]:
t = ('a', 'b', 'c', 'd', 'e') 
t[0]='c'
print(t)

# 12.2 Tuple assigment

In [17]:
a='Felix'
b='Crackers'
t=(a,b)
print(t)
type(t)

('Felix', 'Crackers')

tuple

In [18]:
t=(b,a)  #swap value to two valuable.
print(t)

('Crackers', 'Felix')

# 12.3 Tuples as return values

In [19]:
t = divmod(7, 3) 
print(t)

(2, 1)

In [20]:
quot, rem = divmod(7, 3)
print(quot)  
print(rem)

2
1

In [ ]:
def min_max(t): 
    return min(t), max(t)

In [ ]:
l=[1,2,3,4,5]
min_max(l)

# 12.4 Variable-length argument tuples

In [ ]:
def printall(*args): 
    print (args)

In [ ]:
printall(1, 2.0, '3')

In [ ]:
printall(1,3)

In [ ]:
t = (7, 3) 
divmod(t)

In [ ]:
def printall_2(args): 
    print (args)

In [ ]:
printall_2(1, 2.0, '3')

In [ ]:
t = (7, 3) 
divmod(*t)

Exercise 12.1. Many of the built-in functions use variable-length argument tuples. For example, max and min can take any number of arguments:

In [ ]:
def min_max(t): 
    return min(t), max(t)

In [ ]:
min_max(1,2,3,4,5)

In [ ]:
def min_max(*t): 
    return min(t), max(t) 
min_max(1,2,3,4,5)

# 12.5 Lists and tuples

In [21]:
s = 'abc' 
t = [0, 1, 2] 
zip(s, t)

In [23]:
s = 'abc' 
t = [0, 1, 2] 
list(zip(s, t))
dict(zip(s,t))

{'a': 0, 'b': 1, 'c': 2}

In [25]:
s2=['a','b','c']
t = [0, 1, 2]
dict(zip(s2, t))

{'a': 0, 'b': 1, 'c': 2}

In [26]:
name=['Max','Felix','Vivian']
cheese_or_crackers=['cheese','crackers']
list(zip(name,cheese_or_crackers))

[('Max', 'cheese'), ('Felix', 'crackers')]

In [29]:
name=['Max','Felix','Vivian']
Cheese=[3,2,6]
Cracker=[1,2,5]
list(zip(name,Cheese,Cracker))

[('Max', 3, 1), ('Felix', 2, 2), ('Vivian', 6, 5)]

In [ ]:
t = [('a', 0), ('b', 1), ('c', 2)] 
for letter, number in t: 
    print (number, letter)

In [ ]:
def has_match(t1, t2):  
#has_match takes two sequences, t1 and t2, and returns True if there is an index i such that t1[i] == t2[i]: 
    for x, y in zip(t1, t2): 
        if x == y: return True 
    return False

In [ ]:
t1=[2,2,3]
t2=[1,3,4]
print(list(zip(t1,t2)))
has_match(t1, t2)

In [ ]:
def has_match_no_zip(t1,t2):
    for i in range(len(t1)):
        for j in range(len(t2)):
            if i==j and t1[i]==t2[i]:
                return True
    return False

In [ ]:
t1=[2,2,3]
t2=[1,3,4]
has_match_no_zip(t1, t2)

# 12.6 Dictionaries and tuples

In [ ]:
d = {'a':0, 'b':1, 'c':2} 
t = d.items() 
print (t) 
print(t[0])

In [ ]:
tt=list(t)
print(tt[0])

In [ ]:
t = [('a', 0), ('c', 2), ('b', 1)]
d = dict(t) 
print(d)

In [31]:
import os
print(cmd)

NameError: name 'cmd' is not defined